$indigo-50:   #e9e8ff;
$indigo-100:   #dcd4f7;
$indigo-200:   #c7b6f7;
$indigo-300:   #ae97f4;
$indigo-400:   #9b82f3;
$indigo-500:   #785ef0;
$indigo-600:   #5a3ec8;
$indigo-700:   #473793;
$indigo-800:   #352969;
$indigo-900:   #272149;

$turquoise-50:   #33CCCC;
$turquoise-100:   #2FBABA;
$turquoise-200:   #2AA7A7;
$turquoise-300:   #269595;
$turquoise-400:   #218282;
$turquoise-500:   #1C7070;
$turquoise-600:   #185D5D;
$turquoise-700:   #134B4B;
$turquoise-800:   #0E3838;
$turquoise-900:   #0A2626;